*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:"Bahnschrift", sans-serif;
background:#efefef;
color:#111;
}

img{
max-width:100%;
display:block;
}

/* NAVBAR */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 25px;
background:white;
border-bottom:1px solid #ccc;
position:relative;
}

.logo{
font-family:"Montserrat";
font-weight:700;
font-size:26px;
}

.menu-icon{
cursor:pointer;
}

.menu-icon span{
display:block;
width:22px;
height:2px;
background:black;
margin:5px 0;
}

.search-icon img{
width:22px;
}
